/*** h1,h2,h3,nav - opensans body, buttons - Roboto ***/
/**This is SCSS converted to CSS.*/
.home {
    margin: 0 auto;
    width: 66.9%;
}

    .home .main-section {
        border: 1px solid #138496;
        background-color: #fff;
    }

    .home .profile-header {
        background-color: #17a2b8;
        height: 120px;
    }

    .home .user-detail {
        margin: -50px 0px 30px 0px;
    }

        .home .user-detail img {
            height: 100px;
            width: 100px;
        }

            .home .user-detail img.stats {
                height: 32px;
                width: 32px;
            }

        .home .user-detail h5 {
            margin: 15px 0px 5px 0px;
        }

    .home .user-social-detail {
        padding: 15px 0px;
        background-color: #17a2b8;
    }

        .home .user-social-detail a i {
            color: #fff;
            font-size: 23px;
            padding: 0px 5px;
        }

    .home .users h1 {
        color: #444;
        font-size: 2em;
        font-weight: lighter;
        margin: 0 auto;
    }

    .home .users h2 {
        color: #444;
        font-size: 1.8em;
        font-weight: lighter;
        width: 54%;
        margin: 0 auto;
    }

    .home .users h3 {
        font-size: 1.3em;
        color: #444;
        font-style: italic;
    }

    .home .users h4 {
        font-size: 1.3em;
    }

    .home .users p > b {
        font-weight: 500;
    }

    .home .users p a {
        color: #666;
        font-style: italic;
    }

    .home .users .btn-find {
        width: 180px;
    }

    .home .users .row {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .home .users .photo {
        border-radius: 45px;
        margin-right: 20px;
        width: 90px;
        height: 90px;
    }

    .home .users .form-control {
        display: inline-block;
        margin-right: 10px;
    }

    .home .users .name {
        font-weight: 700;
    }

    .home .users .expertise-label {
        display: block;
        font-weight: 700;
        margin-top: 10px;
    }

    .home .users .btn-more {
        width: 100%;
    }

    .home .users .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
        background: #777;
    }

.main {
    margin: 0 auto;
    width: 66.9%;
}

    .main .head-img {
        width: 560px;
    }

    .main h3.long {
        width: 85%;
        font-size: 1.8em;
    }

    .main .header {
        text-align: center;
    }

        .main .header h1 {
            color: #444;
            font-size: 2em;
            font-weight: lighter;
            width: 45%;
            margin: 0 auto;
        }

        .main .header h2 {
            color: #777;
            width: 53%;
            margin: 0 auto;
            font-size: 1.25em;
            font-weight: 400;
        }

        .main .header h3 {
            color: #444;
            font-size: 1.5em;
            font-weight: 500;
            width: 45%;
            margin: 0 auto;
        }

    .main .row-companies {
        text-align: center;
        vertical-align: middle;
    }

        .main .row-companies .box-company {
            padding: 5px;
        }

            .main .row-companies .box-company img {
                padding: 9px;
                max-width: 180px;
            }

                .main .row-companies .box-company img::after {
                    position: absolute;
                    top: 100%;
                    right: -16px;
                    left: -16px;
                    display: inline-block;
                    margin-top: 13px;
                    content: "";
                    border-bottom: 2px solid #e0e0e0;
                }

            .main .row-companies .box-company p {
                font-size: 0.90em;
            }

    .main .container-svg {
        width: 50%;
        height: 0;
        padding-top: 48%;
        position: relative;
    }

.btn-special {
    cursor: pointer;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    padding: 12px;
    font-size: 1.42em;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    display: inline-block;
    text-decoration-line: none;
}

.show {
    display: block !important;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.invisible {
    visibility: hidden;
}


.button-centered{
    padding-right: 3rem;
    padding-left: 3rem;
    margin-top: 1.5rem;
}

.blue {
    color: #55acee;
    border: 2px #55acee solid;
}

    .blue:hover {
        background-color: #55acee;
        color: #fff;
        text-decoration: none;
    }

.navbar .navbar-collapse .nav-button {
    color: #444;
    background-color: #fff;
    border-color: #55acee;
    margin-right: 19.75%;
}

.form-control::-webkit-input-placeholder {
    color: #BBB;
}

.form-control:-ms-input-placeholder {
    color: #BBB;
}

.form-control::-moz-placeholder {
    color: #BBB;
}
.navbar .navbar-collapse .nav-button:hover {
    background-color: #55acee;
    color: #fff;
}

.nav-logo:hover, .nav-link:hover {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    background: #F5F5F5;
    outline: 1px #DDD solid;
}

.main-register-login {
    margin: 0 auto;
    width: 40.9%;
}

    .main-register-login h1 {
        color: #444;
        font-size: 2em;
        font-weight: lighter;
    }

    .main-register-login h2 {
        color: #444;
        font-size: 1.4em;
        font-weight: lighter;
    }

    .main-register-login .sub-register-login {
        margin: 0 auto;
        text-align: center;
    }

    .main-register-login .row {
        margin-left: 0;
    }

nav {
    background: #FFFFFF;
}

    nav a.navbar-brand {
        padding-left: 16.75%;
    }

    nav button.btn-light {
        margin-right: 19.75%;
    }

footer {
    padding-top: 32px;
}

    footer .container {
        text-align: center;
        width: 42%;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        padding-top: 4px;
    }

    footer .footer-copyright {
        margin-bottom: 35px;
        text-align: center;
        color: #777;
    }

    footer .link a {
        color: #282b2d;
        font-size: 1.1em;
    }

    footer.link {
        display: inline-block;
        margin-bottom: 18px;
    }

footer {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}


/*========== Mobile First Method ==========*/


/* Custom, iPhone Retina */


/* Extra Small Devices, Phones */


/* Small Devices, Tablets */


/* Medium Devices, Desktops */


/* Large Devices, Wide Screens */


/*========== Non-Mobile First Method ==========*/

@media only screen and (max-width: 1400px) {
    .main-register-login {
        width: 45.9%;
    }
}


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    .main-register-login {
        width: 50.9%;
    }

    .home {
        margin: 0 auto;
        width: 90.9%;
    }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    nav a.navbar-brand {
        padding-left: 12%;
    }

    .main-register-login {
        width: 65.9%;
    }

    .home {
        margin: 0 auto;
        width: 90.9%;
    }

        .home .users h2 {
            width: 64%;
        }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 784px) {
    .main {
        margin: 0 auto;
        width: 97%;
    }

        .main h1 {
            width: 97%;
        }

        .main h2 {
            width: 97%;
        }

        .main h3 {
            width: 97%;
        }

        .main .head-img {
            width: 370px;
        }

    .nav-seperator {
        display: none;
    }

    nav a.navbar-brand {
        padding-left: 6%;
    }

    #myFooter .container {
        width: 82%;
    }

    .main-register-login {
        width: 75.9%;
    }

    .home {
        margin: 0 auto;
        width: 95.9%;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .main {
        margin: 0 auto;
        width: 97%;
        margin-top: 0;
    }

        .main .head-img {
            width: 330px;
        }

    #myFooter .container {
        width: 60%;
    }

    .main-register-login {
        width: 95.9%;
    }

    .home .users h1 {
        text-align: center;
    }

    .home .users h2 {
        width: 94%;
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
    .main {
        margin: 0 auto;
        width: 97%;
        margin-top: 0;
    }

        .main .head-img {
            width: 280px;
        }
}
