@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<div id="loader" class="loadingbox hidden">
    <div class="loader"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="emailSent" tabindex="-1" role="dialog" aria-labelledby="emailSentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="emailSentLabel">Email sent</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a>Please check your email to reset your password.</a>
            </div>
            <div class="modal-footer">
                <div class="container text-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid main-register-login mt-5 mb-5">
    <h1>Forgot Password</h1>
    <hr>
    <h2>Provide your account email and we will send information about how to reset password</h2>
    <div class="container sub-register-login">
        <form id="form">
            <div class="row mt-4 text-left">
                <div class="col">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control mb-2" placeholder="jonsnow@mail.com" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <button id="submit" class="btn-special button-centered blue">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
</script>
<script type="text/javascript">
    function getToken() {
        var token = '@Html.AntiForgeryToken()';
        token = $(token).val();
        return token;
   }
</script>
<script>
    $("#submit").click(postResetPassword);
    function postResetPassword() {
        if (!$("#form").valid()) return false;
        var postData = {
            __RequestVerificationToken: getToken(),
            Email: $("#Email").val()
        };
        $('#loader').removeClass("hidden");
        $.ajax({
            url: "https://localhost:44330/Account/ForgotPassword",
            type: 'POST',
            data: postData,
            statusCode: {
                200: function () {
                    $("#emailSent").modal();
                    console.log("Successful. ");
                },
                400: function () {
                    console.log("Client side error. ");
                },
                500: function () {
                    console.log("Server side error. ");
                }
            }
        }).done(function () {
            $('#loader').addClass("hidden");
        });
        return false;
    }
</script>
