@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

<div id="handlerid" class="main alert hidden fade" style="text-align: center" role="alert">
</div>

<div class="container-fluid main-register-login mt-5 mb-5">
    <h1>Log in</h1>
    <div class="container sub-register-login">
        <form id="form">
            <div class="row mt-4 text-left">
                <div class="col">
                    <label asp-for="Email">Email Address</label>
                    <input asp-for="Email" type="text" class="form-control" placeholder="jonsnow@mail.com">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-3 text-left">
                <div class="col">
                    <label asp-for="Email">Password</label>
                    <input asp-for="Password" type="password" class="form-control mb-2" placeholder="*********">
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <a asp-area="" asp-controller="Account" asp-action="ForgotPassword">Forgot password?</a>
                </div>
            </div>

            <button id="LoginButton" class="btn-special button-centered blue">Log In</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
</script>
<script>

    $("#LoginButton").click(postNew);

    function postNew() {
        event.preventDefault();
        if (!$("#form").valid()) return false;
        $.ajax({
            url: "https://localhost:44330/Account/Login",
            type: 'POST',
            data: { email: $("#Email").val(), password: $("#Password").val(), remember: false },
            dataType: "jsonp",
            statusCode: {
                200: function (data) {
                    if ($.trim(data.success) == 'false') {
                        ErrorAlert("Error!", data.error);
                    }
                    else {
                        window.location = "@Url.Action("Index", "Home")";
                    }

                },
                400: function (data) {
                    ErrorAlert("Error!", "Invalid email and/or password");
                },
                500: function () {
                    ErrorAlert("Error from server side!", "Server failed to respond to request");
                }
            }
        });
        false;
    }
    function ErrorAlert(bolded, normal) {
        $('#handlerid').empty().append("<strong>" + bolded + " </strong>" + normal);
        $('#handlerid').addClass('alert-danger').removeClass("hidden").fadeTo(300, 1).delay(4000).fadeTo(300, 0);

        setTimeout(function () {
            $('#handlerid').addClass('hidden').removeClass('alert-danger');
        }, 5000);
    }
  
</script>