
@{
    ViewData["Title"] = "Profile";
}

<div class="container-fluid main-register-login mt-5 mb-5">
    <h1>User Settings</h1>
    <hr>
    <h2 class="mb-5">Update your profile by changing and adding information</h2>
    <div class="container sub-register-login profile">
        <form id="form">
            <div class="profile">
                <div class="profile-avatar-wrap">
                    <img src="~/images/avatar-upload.png" id="profile-avatar" alt="Image for Profile">
                </div>
                <label for="uploader">
                    <img id="profile-picture" class="mt-3 nav-logo" width="42px" src="~/images/upload.png" />
                </label>
                <input class="input-file" type="file" id="uploader">
            </div>
            <h2 class="mt-5 text-left">Personal Information</h2>
            <hr>
            <div class="row mt-4 text-left">
                <div class="col-md-12">
                    <label>First Name & Last Name</label>
                    <input id="Name" class="form-control" type="text" placeholder="John Smith" />
                </div>
            </div>
            <div class="row mt-3 text-left">
                <div class="col">
                    <label>Personal Email Address</label>
                    <input id="Email" type="text" class="form-control" placeholder="johnsmith@mail.com" />
                </div>
            </div>
            <div class="row mt-3 text-left">
                <div class="col">
                    <label>Phone</label>
                    <input id="Phone" type="text" class="form-control"  placeholder="+1 (XXX) (XXX)" />
                </div>
            </div>
            <div class="row mt-3 text-left">
                <div class="col-md-6">
                    <label>Country / Region</label>
                    <input id="Country" type="text" class="form-control" placeholder="USA" />
                </div>
                <div class="col-md-6">
                    <label>State / City</label>
                    <input id="City" type="text" class="form-control" placeholder="Vilnius" />
                </div>
            </div>
            <h2 class="mt-5 text-left">Education</h2>
            <hr>
            <div class="row mt-3 text-left">
                <div class="col-md-6">
                    <label>School</label>
                    <input id="School" type="text" class="form-control" placeholder="The University of Alabama" />
                </div>
                <div class="col-md-6">
                    <label>Study Field</label>
                    <input id="StudyField" type="text" class="form-control" placeholder="Software Systems" />
                </div>
            </div>
            <div class="row mt-3 text-left">
                <div class="col-md-6">
                    <label>Degree</label>
                    <input id="Degree" type="text" class="form-control" placeholder="Bachelors Degree" />
                </div>
            </div>
            <h2 class="mt-5 text-left">Specialization & Work Experience</h2>
            <hr />
            <div class="row mt-4 text-left">
                <div class="col-md-6">
                    <label>Specialization</label>
                    <input id="Title" type="text" class="form-control" placeholder="Software Developer" />
                </div>
                <div class="col-md-6">
                    <label>Work Experience</label>
                    <input id="WorkExperience" type="text" class="form-control" placeholder="2 years" />
                </div>
            </div>
            <div class="row mt-4 text-left">
                <div class="col-md-6">
                    <label>Currently Working</label>
                    <input id="CurrentlyWorkingAt" type="text" class="form-control" placeholder='UAB "GroupUp"' />
                </div>
                <div class="col-md-6">
                    <label>Position</label>
                    <input id="CurrentlyWorkingAs" type="text" class="form-control" placeholder='Jr. Software Engineer' />
                </div>
            </div>
            <h2 class="mt-5 text-left">Your Skills & Talents</h2>
            <hr />
            <div class="row mt-4">
                <div class="col-lg-8">
                    <div class="input-group">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control form-control-skills" placeholder="baking pies..." aria-label="Recipient's username" aria-describedby="basic-addon2" />
                            <div class="input-group-append">
                                <button class="btn btn-light blue form-control-feedback add-btn" type="button">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12">
                    <div class="list-group">
                        <div href="#" class="list-group-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="expertise">
                                        <p class="todo-list-1 text-left">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" id="SubmitButton" class="btn-special button-centered blue">Update Your Profile</button>
        </form>
    </div>
</div>


<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
</script>


<script>

    $("#SubmitButton").click(updateProfile);
    getUserID();

    function getUserID() {

<<<<<<< HEAD
        var id = -1;

        $.ajax({
            url: "https://localhost:44330/account/getuserid",
            type: "GET",
            data: {},
            dataType: "json",
=======
    $(document).ready(function () {
        $.get("https://localhost:44330/Account/getuserid", function (userId) {
        $.ajax({
            url: "https://localhost:44330/api/profile/overview",
            type: "Get",
            data: {
                id: userId
            },
>>>>>>> d91ae52b0a023ef97f4cefb14228532e3b7936aa
            statusCode: {
                200: function (data) {
                    console.log("Successful: " + data);
                    if ($.trim(data.succeeded) == 'false') {
                        Alert("Error!", data.errors[0].description, "alert-danger");
                    }
                    else {
                        getProfile(data);
                    }
                },
                400: function () {
                    Alert("Error from client side!", "Bad request was sent to server", "alert-danger");
                },
                500: function () {
                    Alert("Error from server side!", "Server failed to respond to request", "alert-danger");
                }
            }
            });
        });
        false;
    }

    function updateProfile() {
        //Not the best solution, later will update
        var labels = document.querySelectorAll('.label-default')
        var fields = "";

        for (var x = 0; x < labels.length; x++) {
            fields += labels[x].innerText + ";";

        }
        $.ajax({
            url: "https://localhost:44330/api/profile/update",
            type: "POST",
            data: {
                Name: $("#Name").val(),
                Company: 0,
                field: fields,
                workExperience: $("#WorkExperience").val(),
                education: $("#School").val() + ";" + $("#StudyField").val() + ";" + $("#Degree").val(),
                location: $("#Country").val() + ";" + $("#City").val(),
                picture: $("#profile-avatar").attr('src'),
                currentlyWorking: $("#CurrentlyWorkingAt").val() + ";" + $("#CurrentlyWorkingAs").val(),
                title: $("#Title").val(),
                phoneNumber: $("#Phone").val(),
                email: $("Email").val()
            },
            statusCode: {
                200: function (data) {
                    console.log("Successful: " + data);
                    if ($.trim(data.succeeded) == 'false') {
                        Alert("Error!", data.errors[0].description, "alert-danger");
                    }
                    else {
                        Alert("Succeeded!", "Your profile has been updated", "alert-success");
                    }
                },
                400: function () {
                    Alert("Error from client side!", "Bad request was sent to server", "alert-danger");
                },
                500: function () {
                    Alert("Error from server side!", "Server failed to respond to request", "alert-danger");
                }
            }
        });
        false;
    }

    function getProfile() {

        $.ajax({
            url: "https://localhost:44330/api/profile/overview",
            type: "GET",
            data: { id: "44bf008b-00b9-435e-bf8f-14aac716cf1f" },
            dataType: "json",
            statusCode: {
                200: function (data) {
                    console.log("Successful: " + data);
                    if ($.trim(data.succeeded) == 'false') {
                        Alert("Error!", data.errors[0].description, "alert-danger");
                    }
                    else {
                        setProfile(data);
                    }
                },
                400: function () {
                    Alert("Error from client side!", "Bad request was sent to server", "alert-danger");
                },
                500: function () {
                    Alert("Error from server side!", "Server failed to respond to request", "alert-danger");
                }
            }
        });
        false;
    }

    function setProfile(userData) {

        $("#profile-avatar").attr("src", userData.picture);
        
        $('#Name').val(userData.name);
        $('#Email').val(userData.email);
        
        var locationData = userData.location.split(';');
        $('#Country').val(locationData[0]);
        $('#City').val(locationData[1]);

        var educationData = userData.education.split(';');
        $('#School').val(educationData[0]);
        $('#StudyField').val(educationData[1]);
        $('#Degree').val(educationData[2]);

        var currentlyWorkingData = userData.currentlyWorking.split(';');

        $('#Title').val(userData.title);
        $('#WorkExperience').val(userData.workExperience);
        $('#CurrentlyWorkingAt').val(currentlyWorkingData[0]);
        $('#CurrentlyWorkingAs').val(currentlyWorkingData[1]);
        $('#Phone').val(userData.phoneNumber);
        var skillsData = userData.education.split(';');

        
        for (var x = 0; x < skillsData.length; x++)
        { 
            //var span = $('<span />').attr({ 'class': 'label label-default expertise' }).html(skillsData[x]).appendTo($('.todo-list-1').last());
            //var i = $('<i />').attr({ 'class': 'fa fa-times pr-1 ml-1', 'id': 'close' }).html('').appendTo($('.label').last());

            $('.form-control-skills').val(skillsData[x]); //little evil hack
            addItem();
        }

        
    }

    function Alert(bolded, normal, alertType) {
        $('#handlerid').empty().append("<strong>" + bolded + " </strong>" + normal);
        pressCount++;
        $('#handlerid').addClass(alertType).removeClass("hidden").fadeTo(300, 1);

        setTimeout(function () {
            if (pressCount == 1) {
                $('#handlerid').fadeTo(300, 0);
                setTimeout(function () {
                    $('#handlerid').addClass('hidden').removeClass(alertType);
                }, 1000);
            }
            pressCount--;
        }, 4000);
    }

</script>
<script src="~/js/crop-image.js"></script>
<script src="~/js/upload-image.js"></script>
<script src="~/js/add-to-list.js"></script>
