@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div id="handlerid" class="main alert hidden fade" style="text-align: center" role="alert"></div>

<div id="loader" class="loadingbox hidden">
    <div class="loader"></div>
</div>

<div class="modal fade" id="userRegistered" tabindex="-1" role="dialog" aria-labelledby="userRegisteredLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userRegisteredLabel">Registration succeeded</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a>Your registration was successful and now you will be redirected inside of our page.</a>
            </div>
            <div class="modal-footer">
                <div class="container text-center">
                    <button id="redirectToMain" class="btn btn-primary" data-dismiss="modal">OK, get me there</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid main-register-login mt-5 mb-5 ">
    <h1>Registration Form</h1>
    <hr>
    <h2 class="mb-5">Sign Up to GroupUp and start using our service.</h2>
    <div class="container sub-register-login">
        <form id="form">
            <div class="row mt-4 text-left">
                <div class="col-md-6">
                    <label> First Name</label>
                    <input type="text" class="form-control" placeholder="Jon">
                </div>
                <div class="col-md-6">
                    <label>Last Name</label>
                    <input type="text" class="form-control" placeholder="Snow">
                </div>
            </div>
            <div class="row mt-3 text-left">
                <div class="col">
                    <label asp-for="Email">Personal Email Address</label>
                    <input asp-for="Email" class="form-control" type="text" placeholder="johsnow@mail.com">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-3 text-left">
                <div class="col">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" class="form-control" type="password" placeholder="*********">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-3 mb-3 text-left">
                <div class="col">
                    <label asp-for="ConfirmPassword">Confirm Password</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="*********">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <button id="SubmitButton" class="btn-special button-centered blue">Sign Up</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
</script>
<script type="text/javascript">
    function getToken() {
        var token = '@Html.AntiForgeryToken()';
        token = $(token).val();
        return token;
   }
</script>
<script>
    $("#SubmitButton").click(postNew);

    var pressCount = 0;
    function postNew(event) {
        event.preventDefault();
        if (!$("#form").valid()) return false;
        $('#loader').removeClass("hidden");
        $.ajax({
            url: "http://80.209.231.87/     Account/Register",
            type: "POST",
            data: {
                Email: $("#Email").val(), Password: $("#Password").val(),
                ConfirmPassword: $("#ConfirmPassword").val(), __RequestVerificationToken: getToken()
            },
            dataType: "json",
            statusCode: {
                200: function (data) {
                    
                    console.log("Successful: " + data.succeeded);
                    if ($.trim(data.succeeded) == 'false') {
                        ErrorAlert("Error!", data.errors[0].description);
                    }
                    else {
                        $("#userRegistered").modal();
                    }
                },
                400: function () {
                    ErrorAlert("Error from client side!", "Bad request was sent to server");
                },
                500: function () {
                    ErrorAlert("Error from server side!", "Server failed to respond to request");
                }
            }
        }).always(function () {
            $('#loader').addClass("hidden");
        });
        false;
    }
    function ErrorAlert(bolded, normal) {
        $('#handlerid').empty().append("<strong>" + bolded + " </strong>" + normal);
        pressCount++;
        $('#handlerid').addClass('alert-danger').removeClass("hidden").fadeTo(300, 1);

        setTimeout(function () {
            if (pressCount == 1) {
                $('#handlerid').fadeTo(300, 0);
                setTimeout(function () {
                    $('#handlerid').addClass('hidden').removeClass('alert-danger');
                }, 1000);
            }
            pressCount--;
        }, 4000);
    }
</script>
<script>
    $("#redirectToMain").click(toMainPage);

    function toMainPage() {
        window.location = "@Url.Action("Index", "Home")";
    }
</script>
