<div class="container-fluid home mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-5 mb-5">
            <div class="user-info text-center">
                <div class=" col-lg-12 col-sm-12 col-12 main-section text-center">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
                    </div>
                    <div class="row user-detail ">
                        <div class="col-lg-12 col-sm-12 col-12">
                            <img src="images/man.png" class="rounded-circle img-thumbnail">
                            <h5>Žygimantas Drukteinis</h5>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Kaunas, LT.</p>
                            <hr>
                            <label>Connections</label>
                            <p>People in network</p>
                            <button class="btn btn-light blue" onclick="window.location = '@Url.Action("Profile", "Account")';">Edit your profile</button>
                            <hr>
                            <span>Lorem ips consectetur adipisium ,eiusmod tempor incididuin reprehendeanim.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-7">
            <div class="users">
                <h1 class="mb-5">Users in your network</h1>
                <div class="row">
                    <div class="col-md-12">
                        <div class="list-group list">
                            <div href="#" class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <img src="images/man.png" class="pull-left photo">
                                        <h4 class="list-group-item-heading name">Jonas Baranauskas</h4>
                                        <p class="list-group-item-text title">Software Engineer</p>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="expertise">
                                            <div class="read-more">
                                                <button type="button" class="btn btn-primary btn-more">
                                                    Read More &nbsp;
                                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                            <span class="expertise-label">Areas of Expertise &nbsp;</span>
                                            <p>
                                                <span class="label label-default expertise ">C#</span>
                                                <span class="label label-default expertise ">.NET</span>
                                                <span class="label label-default expertise ">SQL</span>
                                                <span class="label label-default expertise ">Angular 2</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div href="#" class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <img src="images/customer-service.png" class="pull-left photo">
                                        <h4 class="list-group-item-heading name">Mantelis Baranauskas</h4>
                                        <p class="list-group-item-text title">Q/A</p>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="expertise">
                                            <div class="read-more">
                                                <button type="button" class="btn btn-primary btn-more">
                                                    Read More &nbsp;
                                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                            <span class="expertise-label">Areas of Expertise &nbsp;</span>
                                            <p>
                                                <span class="label label-default expertise">Public Speaking</span>
                                                <span class="label label-default expertise">IOT</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div href="#" class="list-group-item">
                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="expertise">
                                            <div class="read-more text-center">
                                                <h2>Find new people to connect with and start working!</h2>
                                                <button type="button" class="mt-3 mb-1 btn btn-primary btn-find">
                                                    SEARCH OTHER USERS &nbsp;
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="mt-5 mb-5">Top trending companies</h1>
                <div class="row">
                    <div class="col-md-12">
                        <div class="list-group list">
                            <div href="#" class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <img src="images/company1.png" class="pull-left photo">
                                    </div>
                                    <div class="col-lg-8">
                                        <h4 class="list-group-item-heading name">App Store</h4>
                                        <p class="list-group-item-text title">Remittance, Money Transfer, Remit money to Asia</p>

                                    </div>
                                    <div class="col-lg-2">
                                        <div class="expertise">
                                            <div class="read-more">
                                                <button type="button" class="btn btn-primary btn-more">
                                                    More &nbsp;
                                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2">
                                    </div>
                                    <div class="col-lg-10">
                                        <h3 class="mb-3">Jobs</h3>
                                        <p><b>Software Developer </b><a>€2K – €3K · No Equity · Full Time</a></p>
                                        <p><b>Java Software Engineer (ML) </b><a>€60K – €80K · 0.0% – 0.2% · Full Time</a></p>
                                    </div>
                                </div>
                            </div>
                            <div href="#" class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <img src="images/company2.png" class="pull-left photo">
                                    </div>
                                    <div class="col-lg-8">
                                        <h4 class="list-group-item-heading name">Z Art Studio</h4>
                                        <p class="list-group-item-text title">Art & Graphics</p>

                                    </div>
                                    <div class="col-lg-2">
                                        <div class="expertise">
                                            <div class="read-more">
                                                <button type="button" class="btn btn-primary btn-more">
                                                    More &nbsp;
                                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2">
                                    </div>
                                    <div class="col-lg-10">
                                        <h3 class="mb-3">Jobs</h3>
                                        <p><b>Graphic Designer </b><a>€4K – 6K · No Equity · Full Time</a></p>
                                        <p><b>Social Media Influencer </b><a>€80K – €120K · 0.0% – 0.2% · Full Time</a></p>
                                    </div>
                                </div>
                            </div>
                            <div href="#" class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="expertise">
                                            <div class="read-more text-center">
                                                <h2>Search for other companies and apply now!</h2>
                                                <button type="button" class="mt-3 mb-1 btn btn-primary btn-find">
                                                    SEARCH COMPANIES &nbsp;
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>